@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
body {
    background-color: #FF6600;
    font-family: "Montserrat", sans-serif;
}

h1,
p {
    color: #fff;
    font-size: 3em;
    padding: 0;
    margin: 0;
}
p {
    font-size: 1em;
}
#render_error {
    fill: none;
    stroke: #592663;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
